Repository liquidweb/woocommerce-custom-orders-table, pull requests merged in 2018-09, with the labels that each got.

#72 Rename CLITest::init() to CLITest::init_cli() to avoid conflicting with WP_HTTP_TestCase::init()
  composer.lock
  phpunit.xml.dist
  tests/test-cli.php
Labels: bug, cli migration

#78 Cleanup CLI script and tests
  includes/class-woocommerce-custom-orders-table-cli.php
  tests/test-cli.php
  tests/test-tools/class-wp-cli-command.php
  tests/test-tools/class-wp-cli.php
  tests/testcase.php
Labels: cli migration, enhancement

#80 Bump the 'WC tested up to' value to 3.5.0
  .travis.yml
  tests/compat.php
  woocommerce-custom-orders-table.php
Labels: documentation, enhancement

#79 Refactor the migration CLI command
  README.md
  composer.json
  composer.lock
  includes/class-woocommerce-custom-orders-table-cli.php
  includes/class-woocommerce-custom-orders-table.php
  tests/test-cli.php
  tests/test-core.php
  tests/test-order-data-store.php
Labels: cli migration, enhancement

#84 Set an explicit fallback ORDER BY for the migrate command
  includes/class-woocommerce-custom-orders-table-cli.php
  tests/test-cli.php
  tests/test-order-data-store.php
Labels: bug, cli migration, testing

#82 Ensure the customer_notes property is populated
  includes/class-wc-order-data-store-custom-table.php
  includes/class-wc-order-refund-data-store-custom-table.php
  tests/test-order-data-store.php
Labels: bug

#86 Replace autoloader implementation
  woocommerce-custom-orders-table.php
Labels: enhancement
